body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
.donation-form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button {
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: darkgreen;
}
#back{
    height: 100%;


    background-image: url("https://images.unsplash.com/photo-1619714193165-495007bc6b63?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNoYXJpdHl8ZW58MHx8MHx8fDA%3D");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #c7a7a7;

}
#ll{
    margin-left: 1000px;
}